.article2 {
    height: 140vh;
    background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(/resources/img/section2.webp);
    background-size: cover;
    background-position: center;
}

ion-icon {
    font-size: 350%;
    display: block;
    color: var(--Red);
    margin-bottom: 10px;
}

article {
    padding: 80px 0;
    background-color: var(--Grey);

}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-family: var(--font-Quicksand);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--White);
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: px;
}

h2 {
    font-size: 180%;
    word-spacing: 4px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: var(--Red);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box {
    padding: 2em;
    margin-left: 2rem;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.article-features .long-copy {
    margin-bottom: 30px;
}

.article-features ion-icons {
    font-size: 2.5rem;
    color: var(--Red);
    text-align: center;
}

.article2 .card {
    background-color: var(--White);
    width: 1000px;
    height: 680px;
    perspective: 1000px;
    border-radius: 8px;
    margin-left: 10%;
    padding: 2rem;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    padding-left: 3%;
}

.step {
    margin-bottom: 50px;
    margin-right: 10%;
}

.step div {
    color: var(--Red);
    border: 2px solid var(--Red);
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    margin-right: 30px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.step:last-of-type {
    margin-bottom: 80px;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .article2 .card {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .steps-box {
        text-align: center;
        padding: 0;
    }

    .app-screen {
        width: 100%;
        margin: 0 auto;
    }

    .step {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2048px) {
    .article2 .card {
        width: 60%;
        height: auto;
        margin: 0 auto;
    }

    .steps-box {
        text-align: center;
        padding: 0;
    }

    .app-screen {
        width: 100%;
        margin: 0 auto;
    }

    .step {
        margin-right: 0;
    }
}
