/*Imports das paginas de cada divisao do hmtl*/
@import url(navbar.css);
@import url(header.css);
@import url(section.css);
@import url(article.css);
/* @import url(Card.css); */
@import url(img/pics.css);
@import url(footer.css);
@import url(cadCliente.css);
@import url(logCliente.css);
/*Imports das bibliotecas e reset do css*/

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400&family=Oswald:wght@400;500;600&family=Quicksand:wght@300&display=swap');

/*variaveis*/

:root{
    --White: #fff;
    --Cream-White: #f2f2f2;
    --Red:#e6222287;
    --Low-Red: #ff0000;
    --Grey:rgba(128, 128, 128, 0.46);
    --LowGrey:#4c4c4c;
    --Black:black;
    --font-Oswald:Oswald;
    --font-Quicksand:Quicksand;

}