/*Imports das paginas de cada divisao do hmtl*/
@import url(navbar.css);
@import url(header.css);
@import url(section.css);
@import url(article.css);
@import url(img/pics.css);
@import url(footer.css);
/*Imports das bibliotecas e reset do css*/

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400&family=Oswald:wght@400;500;600&family=Quicksand:wght@300&display=swap');

/*variaveis*/

:root{
    --White: #fff;
    --Orange:#e67e22;
    --Low-Orange: #cf6d17;
    --Grey:grey;
    --Black:black;
    --font-Oswald:Oswald;
    --font-Quicksand:Quicksand;

}